# URL de la API 
# El proyecto tiene disponibles dos APIs, uno que se ejecutar
# localmente y otro que se encuentra desplegado en Render.
# - http://localhost:4000
# - https://chets-nuts-foods-backend.onrender.com
VITE_URL_BASE_ENDPOINT=
# Número de WhatsApp para contacto.
VITE_NUMERO_WHATSAPP=51900000000
# Número de seríe de las guías de remisión.
VITE_NUMERO_SERIE_GUIA_REMISION=8